# dont record target info
/target

# dont need to record release specs
/docs/release

# again no need to record release specs
/docs/avr-atmega328p/release

/docs/debug
/docs/avr-atmega328p/debug
/docs/doc